fastapi
uvicorn
langchain
langchain-openai
pydantic
celery
python-socketio[asyncio_client]
python-socketio[asgi]
langchain-community
redis
# tensorflow
# tensorflow-macos
# tensorflow-metal
# tf-keras
transformers
python-dotenv

torch 
sentence-transformers

sqlacodegen
SQLAlchemy
psycopg2-binary